body {
    font-family: sans-serif;
    font-size: 20px;
}

header{
    background-color: rgb(185, 228, 248);
    padding: 10px;
    border-radius: 20px;
    border: 3px solid blue;
    margin: 3px;
}

header a{
    text-decoration: none;
    background-color: white;
    color: blueviolet;
    border-radius: 5px;
    padding: 3px;
}

h1{
    text-align: center;
    background-color:  rgb(185, 228, 248);
    color: blue;
    padding: 2px;
    border-radius: 15px;
    border: 3px solid blue;
}

footer{
    background-color: rgb(185, 228, 248);
    padding: 5px;
    border-radius: 15px;
}

footer p{
    background-color: white;
    padding: 3px;
    color: blue;
    border-radius: 15px;
}

nav a{
    text-decoration: none;
    background-color: rgb(185, 228, 248);
    padding: 3px;
    border-radius: 10px;
    margin: 60px;
    border: 3px solid blue;
}

nav{
    border: 3px solid blue;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(185, 228, 248);
}

.phtpt{
    border: 3px solid blue;
    padding: 10px;
    border-radius: 10px;
    background-color:  rgb(185, 228, 248);
}

a{
    text-decoration: none;
    background-color: rgb(185, 228, 248);
    padding: 3px;
    border-radius: 10px;
    border: 3px solid blue;
}

.one{
    background-color: rgb(185, 228, 248);
    border: 3px solid blue;
    padding: 5px;
    border-radius: 10px;
}
